body{
    background-color: black;
}
h1{
    padding: 12px;
    }
.card{
    position: relative;
    font-family: Trebuchet; 
    height: 380px;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    
}
.header{
    position: relative;
}

img {
   position: absolute;
   top: 4px;
   right: 4px;
   height: 70px;
   width: auto;
}
.body1{
    width: 50%;
    position: absolute;
    margin-left: 4px;
}
.body2{
    position: absolute;
    top: 100px;
    left: 300px;
    border-bottom-color: black;
    width:50%;
    }
input{
    border: none;
    border-bottom: 1px solid gray;
}
.footer{
    background: grey;
    color: black;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    width: 130px;
    height: 70;
    border-radius: 5px;
}